<header class="headerNav">
    <h1><a href='/'>THE DESIGN SHOP</a></h1>
    <article class="navLinks">
        <a href="#">Weekly Recommendations</a>
        <a href="#">Less than 30$</a>
        <a href="/additem">Add</a>
    </article>
    <input type="text" name='searchbar' placeholder="Search for article">
    <input type="button" name='search'>
</header>