<header>
    <h1><a href='/'>THE DESIGN SHOP</a></h1>
    <div>
        <ul>
            <li>Weekly Recomendations</li>
            <li>Contact</li>
            <li>T D B</li>
            <li><a href='/addItem'>add Article</a></li>
        </ul>
    </div>
</header>